body{
    color: white;
    margin: 0;
    background-color: black;overflow-x: hidden;
}
p{
    margin: 0;
    padding: 5px 5px 0 0;

}
.history
{
    width:100%;
}
.root{
    color:greenyellow;
    width: 100%;
}
.terminal{
    //padding:10px;
    display: flex;
    width: 100%;
}
.error {
    color: red;
}
input{
    background: black;
    color: white;
    padding: 5px 5px 0 0;
    display: inline-flex;
    outline-style: none;
    border:0;
    flex:1;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    width: 80%;
    caret-color: green;
    :focus{
        outline-style: none;
    }
}
.response
{
    padding-left: 10px;
}
